{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% macro social_login(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <input type="submit" value="Login with {{ display_name }}" />
  </form>
{% endmacro %}
{% include "security/_messages.html" %}
{% block content %}

<h1>Login</h1>

{{ social_login('facebook', 'Facebook' )}}
{% endblock %}
{% include "security/_menu.html" %}
